.list-group{
    border-radius: 3px;
    border-color: black;
    max-width: 95%;
    margin: auto;
}
nav{
    border-radius: 2px;
}

.navbar-brand-left img {
    width: 130px;
    height: 30px;
}



.popover {
    margin-top: 400px;
    background-color: black;
}

.popover-title {
    background-color: grey;
}

.popover-content {
    color: white;
}

.pop1 {
    margin-top: 75px;

}

.navbar,
.navbar-default {
    background-color: #333333;
    border-color: #E7E7E7;
}

#form {
    width: 250px;
    float: right;
}

#feedbutt {
    position: absolute;
    bottom: -30;
    right: 0;
}




#fliprock {
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.navbar-brand {
    background-color: grey;
}

.carousel {
    margin: 0px;
    padding: 0px;
}
